
@{
    ViewBag.Title = "Article";
    Layout = null;
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Naziv</th>
            <th scope="col">Broj proizvoda</th>
            <th scope="col">Boja</th>
            <th scope="col">Količina</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tr class="table-active">
    </tr>
</table>


