
@{
    ViewBag.Title = "PageNotFound";
}



<div class="col-12 jumboton">
    <h2>Ooops....</h2>
</div>

<h4>Stranica koju ste tražili ne postoji ili je privremeno nedostupna!!!</h4>
<img src="~/Content/img/404.png" />

<div class="error_btn_holder">
    <a href="~/buyers.aspx" class="btn btn-primary">Vrati me na početak</a>
</div>